body {
  margin: 0;
  background-color: #f5f1f9;
}

.main {
  height: 100vh;
}

.calculation {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.calc-head{
    height: 7vh;
}
.result{
    height: 7vh;
}
.value{
    height: 10vh;
    font-size: 6vh;
    margin-bottom: 8vh;
}
#deg-rad ,#function2{
    height: 6vh;
}

#scientificCalc .col button {
  height: 100%;
  width: 100%;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

}

#calculator .col button {
  height: 100%;
  width: 100%;
box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

}
.trigo{
  padding: 12px 0; 
  font-size: 1rem; 
  width: 100%;
}
.clear-history-btn {
    bottom: 15px;
    right: 15px;
    border: none;
    background: transparent;
    opacity: 0;
    transition: 0.2s ease;
    cursor: pointer;
}

.clear-history-btn img {
    opacity: 0.6;
    transition: 0.2s ease;
}

.clear-history-btn:hover img {
    opacity: 1;
    transform: scale(1.15);
}

.angle-btn,
.fe-fn {
    background: transparent;
    border: none;
    position: relative;
}

.angle-btn:hover,
.fe-fn:hover {
    background-color: #e5e5e5;
}

.fe-fn.active-fe::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 33%;
    width: 35%;
    height: 3px;
    background-color: #ff8c00;
    border-radius: 3px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .calculation,
.dark-mode .history {
    background-color: #1e1e1e;
}

.dark-mode .value,
.dark-mode .result,
.dark-mode .mode,
.dark-mode .histHead,
.dark-mode .operation,
.dark-mode .history-result {
    color: #ffffff ;
}
.dark-mode .btn-light {
    background-color: #2a2a2a ;
    color: #ffffff ;
    border-color: #3a3a3a ;
}

.dark-mode .btn-primary {
    background-color: #ff8c00 ;
    border-color: #ff8c00 ;
}
.dark-mode .dropdown-menu {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
}

.dark-mode .offcanvas {
    background-color: #1e1e1e;
    color: white;
}

.dark-mode .btn-light:hover {
    background-color: #3a3a3a ;
}

.dark-mode #calculator .col button,
.dark-mode .trigo {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.08);
}

.dark-mode .angle-btn:hover,
.dark-mode .fe-fn:hover {
    background-color: #2a2a2a;
}

.dark-mode .dropdown-toggle {
    color: #ffffff 
}

.dark-mode #function2 .btn {
    color: #ffffff 
}

.dark-mode #deg-rad .btn {
    color: #ffffff 
}

.dark-mode .offcanvas .btn {
    color: #ffffff 
}

.dark-mode .offcanvas-title {
    color: #ffffff;
}

.dark-mode .histHead span {
    color: #ffffff ;
}

.dark-mode .text-secondary {
    color: #bbbbbb ;
}

.dark-mode img {
    filter: brightness(0) invert(1);
}
.dark-mode .btn-close {
    filter: invert(1) grayscale(100%);
}
#theme-toggle {
    color: #000;
}
.dark-mode #theme-toggle {
    color: #fff;
}